*{
	font-family: sans-serif;
}


.content{
	margin: 0 auto;
	min-width: 600px;
	max-width: 600px;
	/*height: 100%;*/
	display: table;
	font-style: italic;
	color: #444;
	font-size: 13px;
	/*border: 2px solid #ddd;*/
}

.content > div{
	width: 100%;
	/*height: 34%;*/
	display: table;
	box-sizing: border-box;
	/*border: 2px solid #Eaa;*/
}

.content > div div:first-child{
	width: 30%;
	height: 225px;
	display: table;
	/*border: 2px solid green;*/
	box-sizing: border-box;
	float: left;
	text-align: center;
	word-wrap: break-word;
}

.content > div div:last-child{
	float: left;
	width: 70%;
	/*height: 100%;*/
	/*display: table;*/
	/*border: 2px solid blue;*/
	box-sizing: border-box;
	word-wrap: break-word;
}

.content blockquote{
	margin: -10px;
	margin-left: 30px;
}

h2{
	text-align: center;
}

h2:before{
	/*zoom: 3%;*/
	vertical-align: middle;
	margin-right: 1%;
	content: url("icon2.png");
}

.content > div div:last-child::before{
	content: "\275D";
	color: #ccc;
	font-size: 25px;
	margin-left: 3% ;
}

.content > div div:last-child::after{
	content: "\275E";
	color: #ccc;
	margin-left: 95%;
	font-size: 25px;
}

.content > div div:last-child p{
	/*font-size: 12px;*/
	text-align: right;
	margin-right: 30px;
}

.content > div div:last-child p::before{
	content: "\2014";
}

.content p{
	margin-bottom: -8px;
}

.content img{
	width: 150px;
	height: 150px;
	border-radius: 50%;
}